@import "@/style/reponsive";

.form {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 3rem;

    .formInfo {
        display: flex;

        @include respond-to(mobile) {
            flex-direction: column;
        }

        .contact {
            padding: 1rem;
            flex: 1;
            border-radius: 4px;
            border: 1px solid #e3e8ea;

            h1 {
                font-weight: 600;
                margin-bottom: 1rem;
                font-size: 18px;
            }
        }

        .shipping {
            padding: 1rem;
            flex: 1;
            margin-left: 1rem;
            border-radius: 4px;
            border: 1px solid #e3e8ea;

            @include respond-to(mobile) {
                margin-left: 0;
                margin-top: 10px;
            }

            h1 {
                font-weight: 600;
                margin-bottom: 1rem;
                font-size: 18px;
            }
        }
    }





    .btnOrder {
        grid-column: 1 / -1;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto 0 auto;
        width: 320px;

        @include respond-to(mobile) {
            order: 3;
        }

        button {
            width: 100%;
        }
    }
}