@import '@/style/reponsive';


.mainProdut {
    margin-top: 2rem;

    .toolBar {
        display: flex;
        gap: 28px;
        // max-width: 437px;
        width: 100%;
        flex: 1;

        @include respond-to(mobile) {
            flex-direction: column;
        }
    }

    .listProducts {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;

        @include respond-to(tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: 14px;
        }
        @include respond-to(mobile) {
            grid-template-columns: repeat(2, 1fr);
            gap: 14px;
        }
    

        
    }
}