@import '@/style/reponsive.scss';
@import '@/style/variable';

.header {
    position: fixed;
    height: 60px;
    padding: 12px 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    transition:  0.32s ease-in-out;



    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: black;

            a {
                font-size: 24px;
                font-weight: 700;
                display: flex;
                align-items: center;

                .imgLogo {
                    margin-right: 1rem;
                    height: 32px;
                    width: 32px;
                }

                span {
                    @include respond-to(mobile) {
                        display: none;
                    }
                }
            }
        }

        nav {

            ul {
                display: flex;

                li {
                    margin: 0 10px;
                    padding: 0 2px;
                    position: relative;



                    a {
                        font-weight: 600;
                        color: $text-gray;
                        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
                        position: relative;

                        &:hover {
                            color: #121212;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 0%;
                            bottom: 0;
                            left: 0;
                            margin-bottom: -2px;
                            height: 2px;
                            display: block;
                            background-color: #121212;
                            transition: all 0.4s ease;
                        }

                        &:hover::before {
                            width: 100%;
                            height: 2px;
                        }
                    }

                    .linkActive {
                        color: #121212;
                    }

                }


            }

            @include respond-to(mobile) {
                display: none;
            }


        }

        .controlRight {
            display: flex;
            gap: 4px;

            .btnBar {
                display: none;

                @include respond-to(mobile) {
                    display: block;
                }
            }
        }

    }

}

.scrolled{
    background-color: white;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}